<!doctype html>
<html lang="en">
<head>
	<% include header %>
</head>
<body>
	<% include loginbar %>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome!</h1>
		</div>
	</div>
</body>
<% include footer %>
</html>